.productDescription {
    width: 40vw;
    box-shadow: 0px 0px 3px 2px var(--bcolor-3);
    padding: 3%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prodDText {
    font-size: 0.75rem;
}

.priceNquantity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quantityCont {
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
}

.differentArrowBtn {
    border: none;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    background-color: var(--bcolor-10);
    transition: all 0.2s ease-in-out ;
}

.differentArrowBtn:hover {
    background-color: var(--bcolor-6);
    transition: all 0.2s ease-in-out ;
}

.cartDescriptionBtn {
    width: 5vh;
    height: 5vh;
    align-self: center;
    border: none;
    border-radius: 50%;
    transform: scale(1.5);
    margin-bottom: 2vh;
    margin-top: 2vh;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cartDescriptionBtn:hover {
    background-color: var(--bcolor-6);
    transition: all 0.2s ease;
}

/* IMAGES CONTAINER */

.prodImages {
    height: 70vh;
    width: 45vw;
    padding: 3%;
    display: flex;
    flex-direction: column;
    /* gap: 5vh; */
    justify-content: space-between;
}

.mainImgContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
}

.mainImg {
    height: 40vh;
    object-fit: contain;
}

.imgsBtn1 {
    position: absolute;
    left: 5%;
    border: 0;
    height: 5vh;
    width: 5vh;
    background-color: var(--bcolor-6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.imgsBtn1:hover {
    transform: scale(1.5);
    transition: all 0.2s ease;
}

.imgsBtn2 {
    position: absolute;
    right: 5%;
    border: 0;
    height: 5vh;
    width: 5vh;
    background-color: var(--bcolor-6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.imgsBtn2:hover {
    transform: scale(1.5);
    transition: all 0.2s ease;
}

.secondaryImgsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.secondaryImgs {
    height: 15vh;
    transition: all 0.2s ease-in-out;
}

.activeImg {
    box-shadow: 0px 0px 20px 5px var(--bcolor-1);
    transition: all 0.2s ease-in-out;
}

.imagesContainerMob {
    display: none;
}

@media screen and (max-width:1024px) {
    
    .prodImages {
        height: 70vh;
        width: 45vw;
        padding: 3%;
        justify-content: space-evenly;
    }
    
    .mainImg {
        height: 35vh;
        max-width: 35vw;
    }

    .secondaryImgs {
        height: 10vh;
    }

}

@media screen and (max-width:767px) {

    .productDescription {
        width: 85vw;
        box-shadow: 0px 0px 3px 2px var(--bcolor-3);
        padding: 3%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .prodImages {
        display: none;
    }

    .imagesContainerMob {
        display: flex;
        height: 42vh;
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .imgsContainer2 {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: 100vw;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .sliderBtn {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        background-color: var(--bcolor-6);
        border: none;
        z-index: 1;
    }

    .p30 {
        left: 0%;
    }

    .imgsMobile {
        max-height: 35vh;
        max-width: 85vw;
        object-fit: contain;
    }

}