.dataContainer {
    display: grid;
    grid-template-columns: repeat(2 , auto);
    grid-template-rows:  repeat(2 ,auto);
    gap: 10vh;
    width: 100vw;
    min-height: 100vh;
    padding: 5%;
}

.mainRelatedCont {
    grid-column-start: 1;
    grid-column-end: 3;
}

.relatedContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    margin-top: 5vh;
}

@media screen and (max-width:767px) {

    .dataContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh
    }

    .mainRelatedCont {
        margin-top: 10vh;
    }

    .relatedContainer {
        justify-content: center;
    }
    
}