:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bcolor-10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* , *::before , *::after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  min-height: 100vh;
}

/* COLORS */

#root {

  --bcolor-1: #357F94 ;
  --bcolor-2: #3B90A8 ;
  --bcolor-3: #41A0BB;
  --bcolor-4: #52AAC4;
  --bcolor-5: #64B4CB;
  --bcolor-6: #77BED2;
  --bcolor-7: #B1B1B1;
  --bcolor-8: #BEBEBE;
  --bcolor-9: #CBCBCB;
  --bcolor-10: #D7D7D7;

}

/* TYPES */

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 0.8rem;
  opacity: 30%;
}

ul {
  padding-left: 0;
}