:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bcolor-10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* , *::before , *::after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  min-height: 100vh;
}

/* COLORS */

#root {

  --bcolor-1: #357F94 ;
  --bcolor-2: #3B90A8 ;
  --bcolor-3: #41A0BB;
  --bcolor-4: #52AAC4;
  --bcolor-5: #64B4CB;
  --bcolor-6: #77BED2;
  --bcolor-7: #B1B1B1;
  --bcolor-8: #BEBEBE;
  --bcolor-9: #CBCBCB;
  --bcolor-10: #D7D7D7;

}

/* TYPES */

h1 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 0.8rem;
}

/* CLASSES */

.activeLink {
  background-color: red;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--bcolor-6);
}

.notActiveLink {
  color: var(--bcolor-6);
  font-size: 1.25rem;
  font-weight: 700;
}

.prodContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  padding-top: 5vh;
  position: relative;
}

/* CARD */

.majorCont-prod {
  position: relative;
}

.prodArticle {
  min-height: 50vh;
  width: 30vw;
  /* border: 1px black solid; */
  background-color: var(--bcolor-10);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 3%;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.detailsBtn {
  position: absolute;
  top: 5%;
  right: 0%;
}

.prodHeader {
  position: relative;
  height: 25vh;
  width: 100%;
}

.prodImg {
  height: 25vh;
  max-width: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 100;
  transition: opacity 0.4s ease;
  object-fit: contain;
}

.prodImg1 {
  height: 25vh;
  max-width: 28vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.4s ease;
  object-fit: contain;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.priceNadd {
  display: flex;
  flex-direction: row;
}

.price {
  margin-left: 1vw;
}

.show-true {
  display: flex;
  transition: display 0.5s ease;
}

.show-false {
  display: none;
  transition: display 0.5s ease;
}

.prodArticle:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 2px 0px var(--bcolor-2);
  transition: all 0.2s ease-in-out;
}

.cartBtn1 {
  
}
