:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bcolor-10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* , *::before , *::after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  min-height: 100vh;
}

/* COLORS */

#root {

  --bcolor-1: #357F94 ;
  --bcolor-2: #3B90A8 ;
  --bcolor-3: #41A0BB;
  --bcolor-4: #52AAC4;
  --bcolor-5: #64B4CB;
  --bcolor-6: #77BED2;
  --bcolor-7: #B1B1B1;
  --bcolor-8: #BEBEBE;
  --bcolor-9: #CBCBCB;
  --bcolor-10: #D7D7D7;

}

/* TYPES */

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 0.8rem;
  opacity: 30%;
}

/* CLASSES */

.activeLink {
 
  background-color: var(--bcolor-8);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--bcolor-1);
  display: flex;
  height: 15vh;
  width: 20vw;
  border: 1px var(--bcolor-7) solid;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  
}

.activeLink:hover {
  border-radius: 30px;
  height: 10vh;
  width: 15vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: calc(2.5vw + 2px);
  margin-right: calc(2.5vw + 2px);
  transition: all 0.2s ease-in-out;
}

.notActiveLink {
  color: var(--bcolor-6);
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  height: 15vh;
  width: 20vw;
  border: 1px var(--bcolor-7) solid;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.notActiveLink:hover {
  border-radius: 30px;
  height: 10vh;
  width: 15vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: calc(2.5vw + 2px);
  margin-right: calc(2.5vw + 2px);
  transition: all 0.2s ease-in-out;
}

.prodContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
  padding-top: 5vh;
  position: relative;
  margin-bottom: 10vh;
}

/* CARD */

.prodArticle {
  min-height: 50vh;
  width: 25vw;
  border: 1px var(--bcolor-6) solid;
  
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 3%;
  padding-top: 5%;
  padding-bottom: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.prodHeader {
  position: relative;
  height: 25vh;
  width: 100%;
}

.prodImg {
  max-height: 20vh;
  max-width: 20vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 100;
  transition: opacity 0.4s ease;
  object-fit: contain;
}

.prodImg1 {
  max-height: 20vh;
  max-width: 28vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: opacity 0.4s ease;
  object-fit: contain;
}

.cardHr {
  position: absolute;
  margin: 0;
  width: 100%;
  color: black;
  top: 55%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 2vh;
  height: 100%;
  width: 100%;
}

.priceNadd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  margin-left: 1vw;
}

.show-true {
  display: flex;
  transition: display 0.5s ease;
}

.show-false {
  display: none;
  transition: display 0.5s ease;
}

.prodArticle:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 2px 0px var(--bcolor-2);
  transition: all 0.2s ease-in-out;
}

.cartBtn1 {
  border: none;
  background-color: var(--bcolor-10) ;
  height: 5vh;
  width: 5vh;
  transform: scale(1.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease
}

.cartBtn1:hover {
  transform: scale(2);
  transition: all 0.2s ease;
  background-color: var(--bcolor-6);
}

.homeQuantBtn {
  border: none;
  border-radius: 50%;
  background-color: var(--bcolor-1);
  position: absolute;
  top: -2%;
  right: -2%;
  height: 5vh;
  width: 5vh;
  text-align: center;
  color: white;
  font-weight: 700;
}
